@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.roboto{
    font-family: 'Roboto', sans-serif;
}
.montserrat{
    font-family: 'Montserrat', sans-serif;
}
.slick-prev {
    z-index: 2;
    left: 1.25rem;
}

.slick-next {
    z-index: 2;
    right: 1.25rem;
}
.slick-prev::before {
    color: #bf1800;
    font-size: 30px;
}

.slick-next::before {
    color: #bf1800;
    font-size: 30px;
}